@model Helper

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Lab 28</h1>
        @if (!Model.IsDeck)
        {
            <p>No deck found.</p>
            <a asp-controller="Home" asp-action="NewDeck">Click here to shuffle a new deck</a>

        }
        else
        {
            <p>@Model.Remaining cards remaining.</p>
            <a asp-controller="Home" asp-action="NewDeck">Click here to shuffle a new deck</a>
            <a asp-controller="Home" asp-action="Draw">Click here to draw 5</a>
        }
        @if(Model.AreDraws)
        {
            @foreach(var card in Model.Cards)
            {
                <p>Draw</p>
                <img src="@card.Image" />
            }
        }
    </div>
